h1 {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid #ffffff;
  color: #FFFFED;
  text-align: center;
}

h2{
  color: #000000;
  text-align: center; 
}
h3{
  color: black;
  text-align: center;
  
}
h4{
  color: black;
  font-size: 20px;
}
p{
  color:black;  
}

.table{
  background-color: white;
}

.adminTitle{
  background-color: rgb(162, 199, 213);
}



body {
  color: black;
  background: linear-gradient(135deg, #72c8e4, #0e81ae);
  background-color:white;
  padding: 0;
}

iframe{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.partners .noVideo {
  display: none;
}

@media (max-width: 768px){
  h1{
    font-size: 15px;
  }
  h2{
    font-size: 11px;
  }
  h3{
    font-size: 12px;
  }
  h4{
    font-size: 12px;
  }
  p{
    font-size: 11px;
  }
  img{
    width:50%;
  }
  body{
    padding:10px;
  }
  table{
    font-size: 11px;
    border-color: black;
  }
  td{
    text-align: center;
  }
  th{
    text-align: center;
  }
  form{
    font-size: 11px;
  }
  .start iframe{
    width: auto;
    height: auto;
  }
  .partners iframe{
    display: none;
  }
  .partners .noVideo{
    display:block;
    text-align: center;
    color: black;
    font-size: 11px;
  }
  
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
input[type=text], select, input[type=password], input[type=tel], input[type=email], input[type=integer] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: gray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
input[type=checkbox]{
  align-items: left;
}

label {
  display: inline-block;
  width: 25%;
  text-align: left;
}

.container {
  display: flex;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

tr:first-of-type{
  border-bottom: 2px solid black;
 }
 

button {

  background-color: white; 

  color: black; 

  border: 2px solid #04AA6D;

}
 
button {
  background-color: #525361; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover {
  background-color: #3d67b5;
  color: white;
}

.fixCheck{
  text-align: center;
  width: 24%;
}

.select1 {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
 
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
